footer p {
  margin-top: 1em;
  text-align: center;
}

td.action-button {
  width: 3em;
}

.page-header {
  margin-bottom: 1em !important;
}

#button-toolbar {
  margin-bottom: 2em;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
  color: #FFFFFF;
  background-color: #424242;
}

.well {
  padding: 10px !important;
}

.no-margin-bottom {
  margin-bottom: 0em !important;
}
