<!DOCTYPE html>
<html>
<head>
  <title>MangoHandcart</title>
  <%= stylesheet_link_tag    "mango_handcart/application", media: "all" %>
  <%= javascript_include_tag "mango_handcart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
